.shape-1 {
	margin-left: 40px;
	width: 200px;
	height: 75px;
	background-color: lightBlue;
}

.shape-2 {
	position: relative;
	margin-top: 5px;
	width: 200px;
	height: 75px;
	background-color: lightBlue;
}

.shape-3 {
	position: relative;
	margin-top: 5px;
	margin-left: 40px;
	width: 200px;
	height: 75px;
	background-color: lightBlue;
}

.shape-4 {
	position: relative;
	margin-top: 5px;
	width: 200px;
	height: 75px;
	background-color: lightBlue;
}

.shape-5 {
	position: relative;
	margin-top: 5px;
	margin-left: 40px;
	width: 200px;
	height: 75px;
	background-color: lightBlue;
}