.square-1 {
	position: fixed;
	width: 200px;
	height: 200px;
	background-color: lightBlue;
}

.square-2 {
	position: relative;
	margin-left: 75px;
	margin-top: 75px;
	width: 50px;
	height: 50px;
	background-color: yellow
}